numpy
triton
bitsandbytes 
accelerate==1.5.2 
xformers 
peft==0.14.0 
trl==0.15.2 
unsloth_zoo==2025.3.16
sentencepiece==0.2.0 
protobuf==3.20.3 
datasets>=3.4.1,<4.0.0 
huggingface_hub>=0.34.0
hf_transfer==0.1.9
unsloth==2025.3.18
transformers==4.49.0 
vllm==0.7.3
wandb
