absl-py==2.1.0
accelerate==1.5.2
adaptive==1.3.2
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
airportsdata==20250224
aistudio-sdk==0.2.6
alabaster==1.0.0
annotated-types==0.7.0
anthropic==0.45.2
antropy==0.1.9
anyio==4.8.0
appdirs==1.4.4
astor==0.8.1
asttokens==3.0.0
async-timeout==4.0.3
attrs==25.1.0
babel==2.17.0
bce-python-sdk==0.9.29
beautifulsoup4==4.12.3
bert-score==0.3.13
bitsandbytes==0.45.3
blake3==1.0.4
blinker==1.9.0
blis==1.1.0
blosc2==2.7.1
boto3==1.37.18
botocore==1.37.18
Brotli==1.1.0
catalogue==2.0.10
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
cloudpathlib==0.20.0
cloudpickle==3.1.1
colorama==0.4.6
colorlog==6.9.0
comm==0.2.2
compressed-tensors==0.9.1
confection==0.1.5
contourpy==1.3.1
cupy-cuda12x==13.4.0
cut-cross-entropy==25.1.1
cycler==0.12.1
cymem==2.0.10
dataclasses-json==0.6.7
datasets==3.6.0
debugpy==1.8.11
decorator==5.1.1
depyf==0.18.0
diffusers==0.32.2
dill==0.3.8
diskcache==5.6.3
distilabel @ git+https://github.com/argilla-io/distilabel.git@0009d1c567e93976743326c538f3b3cfb8e423f4
distro==1.9.0
dnspython==2.7.0
docker-pycreds==0.4.0
docstring_parser==0.16
docutils==0.21.2
einops==0.8.1
elevate==0.1.3
email_validator==2.2.0
EMD-signal==1.6.4
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
et_xmlfile==2.0.0
evaluate==0.4.3
exceptiongroup==1.2.2
executing==2.1.0
fastapi==0.115.8
fastapi-cli==0.0.7
fastrlock==0.8.3
filelock==3.16.1
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
Flask==3.1.0
flask-babel==4.0.0
fonttools==4.55.3
frozenlist==1.5.0
fsspec==2024.9.0
future==1.0.0
gensim==4.3.3
gguf==0.10.0
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.1.1
grpcio==1.73.0
h11==0.14.0
hf_transfer==0.1.9
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.27.1
idna==3.10
ijson==3.3.0
imagesize==1.4.1
importlib_metadata==8.6.1
importlib_resources==6.5.2
inflate64==1.0.1
iniconfig==2.0.0
interegular==0.3.3
ipykernel==6.29.5
ipython==8.31.0
isort==6.0.1
itsdangerous==2.2.0
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.5
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.8
langchain==0.3.21
langchain-community==0.3.5
langchain-core==0.3.47
langchain-openai==0.3.9
langchain-text-splitters==0.3.7
langcodes==3.5.0
langsmith==0.1.147
langtest==2.6.0
language_data==1.3.0
lark==1.2.2
llvmlite==0.43.0
lm-format-enforcer==0.10.11
loky==3.5.1
lxml==5.3.1
marisa-trie==1.2.1
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
MDP==3.6
mdurl==0.1.2
MFDFA==0.4.3
mistral_common==1.5.4
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.19.0
multidict==6.1.0
multiprocess==0.70.16
multivolumefile==0.2.3
murmurhash==1.0.11
mypy-extensions==1.0.0
ndindex==1.9.2
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
numba==0.60.0
numexpr==2.10.2
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
onnx==1.17.0
openai==1.68.2
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
orjson==3.10.15
outlines==0.1.11
outlines_core==0.1.26
packaging==24.2
paddle2onnx==2.0.0
paddlefsl==1.1.0
paddlenlp==2.3.1
pandas==2.2.3
parso==0.8.4
partial-json-parser==0.2.1.1.post5
pathos==0.3.2
patsy==1.0.1
peft==0.14.0
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.5.0
portalocker==3.1.1
pox==0.3.5
ppft==1.7.6.9
preshed==3.0.9
prettytable==3.14.0
prometheus-fastapi-instrumentator==7.0.2
prometheus_client==0.21.1
prompt_toolkit==3.0.48
propcache==0.2.1
protobuf==3.20.3
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py7zr==0.22.0
pyahocorasick==2.1.0
pyarrow==19.0.0
pybcj==1.0.3
pybind11==2.13.6
pycountry==24.6.1
pycryptodome==3.21.0
pycryptodomex==3.22.0
pydantic==2.9.2
pydantic-settings==2.8.1
pydantic_core==2.23.4
pyefd==1.6.0
Pygments==2.19.1
pyparsing==3.2.1
pyppmd==1.1.1
pyshark==0.6
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
pyzstd==0.16.2
rank-bm25==0.2.2
rarfile==4.2
ray==2.40.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
rich-toolkit==0.13.2
rouge-score==0.1.2
rpds-py==0.23.1
ruff==0.12.9
s3transfer==0.11.4
sacrebleu==2.5.1
safetensors==0.5.1
scapy==2.6.1
scenedetect==0.6.6
scikit-learn==1.6.0
scipy==1.13.1
sentence-transformers==2.7.0
sentencepiece==0.2.0
sentry-sdk==2.23.1
seqeval==1.2.2
setproctitle==1.3.5
shellingham==1.5.4
shtab==1.7.1
simpler==6.6.5
six==1.17.0
sklearn-sfa==0.1.6
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcollections==2.1.0
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.8.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==8.1.3
sphinx-autodoc-typehints==3.0.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.35
srsly==2.5.0
stack-data==0.6.3
starlette==0.45.3
statsmodels==0.14.4
sympy==1.13.1
tables==3.10.1
tabulate==0.9.0
tblib==3.0.0
tenacity==8.5.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
termcolor==2.5.0
texttable==1.7.0
thinc==8.3.3
threadpoolctl==3.5.0
tiktoken==0.8.0
tokenizers==0.21.0
tomli==2.2.1
tool_helpers==0.1.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.49.0
triton==3.1.0
trl==0.15.2
typeguard==4.4.2
typer==0.15.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tyro==0.9.17
tzdata==2024.2
universal_pathlib==0.2.6
unsloth==2025.3.18
unsloth_zoo==2025.3.16
urllib3==2.3.0
uvicorn==0.34.0
uvloop==0.21.0
versioningit==3.1.2
visualdl==2.5.3
vllm==0.7.3
wandb==0.19.8
wasabi==1.1.3
watchfiles==1.0.4
wcwidth==0.2.13
weasel==0.4.1
websockets==15.0.1
Werkzeug==3.1.3
wikipedia==1.4.0
wrapt==1.17.0
xformers==0.0.28.post3
xgrammar==0.1.11
xxhash==3.5.0
yarl==1.18.3
zipp==3.21.0
